*{
    margin: 0%;
    padding: 0%;
}
.navbar-container{
    display: flex;
}

.logo{
    width: 80px;
    height: 30px;  
    position:  absolute;
    left: 7%;
    top: 5%;
}
.list .list-item{
    display: inline;
    margin: 20px;
    position: relative;
    left: 50%;
    top: 35px;
    color: rgb(197, 195, 195);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
     

}
.button-group .nav-button{
    
    position: absolute;
    left: 84%;
    top: 4%;
    width: 120px;
    height: 46px;
    background-color: rgb(80, 80, 161);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.img{
    display: block;
    margin-left: auto;
    width: 65%;
    margin-top: 7%;
    justify-content: end;
    justify-self: end;
    justify-items: end;
    align-items: flex-end;
     
}
.heading-text{
    position: absolute;
    top: 35%;
    left: 7%;
    font-size: 64px;
    font-family: 'Lato', sans-serif;
    color:rgb(44, 44, 88) ;
}
span{
    color:  rgb(80, 80, 161);
}
.description{
    position: absolute;
    top: 76%;
    left: 7%;
    color: gray;
    font-size: 15px;

}
.nav-button{
    position: absolute;
    top: 90%;
    left: 7%;
    width: 190px;
    height: 50px;
    background-color: rgb(80, 80, 161) ;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}